/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  background: #111;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  z-index: 100;
}

.logo {
  font-size: 1.3rem;
  font-weight: 700;
}
.logo span {
  color: #ffb700;
}
.nav a {
  margin: 0 20px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
  font-weight: 900;
}
.nav a:hover {
  color: #ff7a00;
}

/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(135deg, #ff7a00, #ff3c00, #ffb700);
  background-size: 300% 300%;
  animation: gradient 8s ease infinite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.hero h1 {
  font-size: 3.5rem;
}
.hero h1 span {
  color: #ffe600;
}
.hero p {
  margin: 15px 0;
  font-size: 1.5rem;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  background: linear-gradient(90deg, #ff7a00, #ff3c00);
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}
.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

/* SOBRE */
.sobre {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 40px;
  flex-wrap: wrap;
  background: #222;
}
.sobre .text {
  flex: 1;
  padding: 20px;
}
.sobre img {
  max-width: 320px;
  border-radius: 10px;
}
.sobre h2 {
  margin-bottom: 20px;
  font-size: 40px;
}

/* CARDÁPIO */
.cardapio {
  padding: 80px 40px;
  text-align: center;
  background: #111;
}
.cardapio h2 {
  margin-bottom: 40px;
  font-size: 40px;
}
.cardapio h3 {
  margin-bottom: 10px;
}
.cardapio p {
  margin-bottom: 10px;
}

.btn-2 {
  display: inline-block;
  padding: 12px 24px;
  background: linear-gradient(90deg, #ff7a00, #ff3c00);
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  margin-top: 12px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}
.btn-2:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.menu-items {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 20px;
  width: 280px;
  text-align: center;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}
.card:hover {
  background-color: #191919;
  color: #ff7a00;
  box-shadow: 0 0 10px #ff7a00;
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 150px;
  border-radius: 12px;
  margin-bottom: 10px;
}

/* AVALIAÇÕES */
.avaliacoes {
  background: #222;
  padding: 80px 40px;
  text-align: center;
}
.avaliacoes h2 {
  font-size: 40px;
  margin-top: -40px;
  margin-bottom: 40px;
}

.reviews {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}
.review {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 12px;
  width: 280px;
  cursor: pointer;
}
.review img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}
.review img:hover {
  background-color: #191919;
  color: #ff7a00;
  box-shadow: 0 0 10px #ff7a00;
  transform: scale(1.05);
}
.review h3 {
  color: #ff7a00;
  margin-top: 15px;
  font-size: 25px;
}


/* PEDIDO */
.pedido {
  padding: 80px 40px;
  text-align: center;
  background: #111;
}
.pedido h2{
  font-size: 40px;
  margin-top: -40px;
  margin-bottom: 40px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 400px;
  margin: 0 auto;
}
.form input,
.form select,
.form textarea {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 1rem;
}

/* CONTATO */
.contato {
  padding: 80px 40px;
  background: #222;
  text-align: center;
}
.contato h2{
  font-size: 35px;
  margin-top: -40px;
  margin-bottom: 40px;
}
.contato p {
  margin-top: -30px;
  margin-bottom: 10px;
}

.social a {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
}
.social a:hover {
  color: #ff7a00;
  transform: translateY(-3px);
}

/* Botão WhatsApp fixo */
.whatsapp-btn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: #25d366;
  color: #fff;
  font-weight: bold;
  padding: 14px 20px;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s, box-shadow 0.2s;
  z-index: 999;
}

.whatsapp-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}


/* FOOTER */
.footer {
  background: #111;
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
}

/* ANIMAÇÃO GRADIENTE */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
